<nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="fa-solid fa-bullhorn menu-icon"></i></span>
                <span class="menu-title">Marketing</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Leads</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/contact.html">Contacts</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/organization.html">Organiztion</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="fa-regular fa-arrows-spin menu-icon"></i>
                
                </span>
                <span class="menu-title">Sales</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu" aria-labelledby="menu1">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Opportunities</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Quotes</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Products</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/contact.html">Contacts</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/organization.html">Organiztion</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i>
                  <i class="fa-regular fa-scanner-keyboard menu"></i></span>
                <span class="menu-title">Inventory</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu" aria-labelledby="menu1">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Product</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Services</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Invoices</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Sales Order</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Purchase Order</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Vendors</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/contact.html">Contacts</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/organization.html">Organiztion</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                <span class="menu-title">Support</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu" aria-labelledby="menu1">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Tickets</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">FAQ</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Service Contracts</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/contact.html">Contacts</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/organization.html">Organiztion</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Project</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu" aria-labelledby="menu1">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Projects</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/leads.html">Project Tasks</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/contact.html">Contacts</a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/organization.html">Organiztion</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.htm"> Blank Page </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/register.htm"> Register </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.htm"> 404 </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.htm"> 500 </a></li>
                </ul>
              </div>
            </li>
            
            <!--  -->
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Settings</span>
                </a>
              </div>
            </li>
            
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class=""></i>
                  <span class="menu-title">Log Out</span></a>
              </div>
            </li>
          </ul>
        </nav>